body {
	margin: 0;
	padding: 0;
}

canvas#c {
	position: absolute;
	z-index: 10;
	margin: 0;
	padding: 0;
	left: 0px;
	right: 0px;
	width:100%;
	height:100%;
}

div#description {
	z-index: 5;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0px;
	top: 0px;
}

div#tabs {
	height: 26px;
}

